.aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 350px;
    height: 100vh;
    padding: 30px;
    background-color: var(--contrast-color);
}

.aside figure {
    margin-bottom: 50px;
}

.aside nav {
    height: calc(100vh - 300px);
}



